    // CSS Boton flotante
    .fix-bottom {
        position: fixed;
        bottom: 188px;
        right: 15px;
    }
    
     ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
        color: red!important;
        opacity: 0.8!important;
    }
    
    // mat-grid-tile {
    //     background: lightblue;
    // }